<!-- render the header file before rendering current page -->
<main>
    <div class="adminRegisteredStudents">
        <h1 style="text-align: center;">Registered Students</h1>

        <table>
            <tbody>
                <tr>
                    <th>Reg Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Age</th>
                    <th>Instrument</th>
                    <th>User Status</th>
                    <th>Pmt Status</th>
                    <th>Login Created</th>
                    <th>Confirm Registration</th>
                    <th>Delete</th>
                </tr>

                <!-- iteratig over userTickets list to display list of records to user -->
                <% if(typeof(registeredUsers) !='undefined' ) { for(user of registeredUsers){ %>
                    <form action="editRegisteredSudentsSuccess" method="POST" enctype="application/json">

                        <input type="hidden" name="id" value="<%= user._id %>">
                        <tr>
                            <td>
                                <!-- <a href="/view/<%= user._id %>"></a> -->
                                <input type="text" name="userRegistrationNumber" id="userRegistrationNumber"
                                    value="<%= user.userRegistrationNumber %>" disabled>
                            </td>
                            <td>
                                <input type="text" name="username" id="username" value="<%= user.userName %>">
                            </td>
                            <td>
                                <input type="email" name="userEmail" id="userEmail" value="<%= user.userEmail %>">
                            </td>
                            <td>
                                <input type="text" name="userPhone" id="userPhone" value="<%= user.userPhone %>">
                            </td>
                            <td>
                                <input type="text" name="userAge" id="userAge" value="<%= user.userAge %>">
                            </td>
                            <td>
                                <input type="text" name="userInstrument" id="userInstrument"
                                    value="<%= user.userInstrument %>">
                            </td>
                            <td>
                                <select name="userStatus" id="userStatus">
                                    <option value="active" selected>Active</option>
                                    <option value="inactive" selected>Inactive</option>
                                </select>
                                <!-- <%= user.userStatus %> -->
                            </td>
                            <td>
                                <select name="userPaymentStatus" id="userPaymentStatus">
                                    <option value="clear" selected> Clear</option>
                                    <option value="pending" selected>Pending</option>
                                </select>
                                <!-- <%= user.userPaymentStatus %> -->
                            </td>
                            <td>
                                <select name="userIsLoginCreated" id="userIsLoginCreated">
                                    <option value="true"> Yes</option>
                                    <option value="false" selected>No</option>
                                </select>
                                <!-- <%= user.userIsLoginCreated%> -->
                            </td>
                            <td>
                                <a href="/confirmRegistration/<%= user._id %>">Confirm Registration</a>
                            </td>
                            <td>
                                <a href="/delete/<%= user._id %>">Delete</a>
                            </td>
                        </tr>

                        <% } } %>
                            <input type="button" value="Cancel">
                            <input type="submit" value="Update">
                    </form>
            </tbody>
        </table>
    </div>
</main>